.links {

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 75vh;

    h2 {
        
        font-size: 2.2rem;
        height: 10vh;
    }

    p {
        font-size: 1.8rem;
    }

    button {
        border: none;
        width: 5%;
        cursor: pointer;

        img {
            width: 95%;
        }
    }
}