.navBarHeader {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;

  img {
    width: 8vw; //W - largura
    //height: ; // H - altura 
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
}