.navBarHeader {
  background-color: #0276fb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  width: 100vw;

  img {
    width: 8vw; //W - largura
    //height: ; // H - altura 
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 50%;

    background-color: #0276fb;
  }

  li a {
    background-color: #0276fb;
    color: white;
  }
}