.card {

    display: flex;


    font-size: 1.1rem;
    font-weight: 200;
    color: #0276fb;

    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;

    height: 70vh;
    width: 100vw;

    div {
        border: solid white;
        width: 20vw;
        height: 45vh;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h2 {
            border: white solid 0.5px;
            border-left: none;
            border-right: none;

            font-weight: 200;

        }

        button {
            color: white;
            background-color: #0276fb;
            border: white solid 0.5px;

            width: 8vw;
            height: 5vh;

            cursor: pointer;
        }
    }


    button:hover {
        transform: translate(2px, -2px);
        cursor: pointer;
    }
}

@media (max-width: 429px) and (max-height: 927px) {

    .card {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        width: 100%;
        height: 180vh;

        div {
            width: 55%;

            button {
                width: 50%;
                cursor: pointer;
            }
        }




    }
}