article {
    
    display: flex;

    
    font-size: 1.1rem;
    font-weight: 200;
    color: #0276fb;

    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;

    height: 70vh;
    width: 100vw;
}

.card{
    border: solid #0276fb 0.5px;
    width: 20vw;
    height: 45vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    h2{
        border: #0276fb solid 0.5px;
        border-left: none;
        border-right: none;

        font-weight: 200;

    }

    button{
        color: white;
        background-color: #0276fb;
        border: #0276fb solid 0.5px;
        
        width: 8vw;
        height: 5vh;

        cursor: pointer;
    }

    img{
        width: 100%;
    }

}


button:hover{
    transform: translate(2px, -2px);
}